<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallet.walkthedog">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    关闭省电权限-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature android:name="android.permission.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".app.RootApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.login.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.email.InvitationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.email.EmailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.email.LoginTypeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.email.SettingMobileCodeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.login.ImportActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.login.SettingPassWordActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.login.CreateActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.login.VerificationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.home.HomeActivity1"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.home.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".view.walk.WalkActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.select_dog.SelectDogActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.props.ChoicePropsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.invite.InviteActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.rental.transaction.TrasactionDogActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.invite_detail.InviteDetailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.mail.transaction.TransactionDogActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.props.PropDetailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.mail.transaction.TransactionPropActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.mine.AvatarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.MyAssetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.CollectionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.TransferActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".view.mine.DogWalkRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.InvitedDogActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.TrainRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.LanguageSetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.SecuritySetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.PassWordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.MailBoxActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.FriendListActivity" android:screenOrientation="portrait"/>

        <activity
            android:name=".view.props.MyPropsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".view.mine.MineFoodActivity" android:screenOrientation="portrait"/>

        <activity
            android:name=".view.dog.MyDogActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.dog.DogDetailActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".view.mine.otc.OTCOrderActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.otc.PurchaseDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.otc.PurchaseOTCActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.mine.InviteRegisterActivity" android:screenOrientation="portrait"/>

        <service
            android:name=".service.GpsService"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>

</manifest>